@import "tailwindcss";

:root {
  --color-cao-dark: #1a1a1a;
  --color-cao-medium: #c2b6c2;
  --color-cao-bg: #f5f5f5;
  --color-button-muted: #e2e2e2; 
}

body {
  margin: 0;
  background-color: var(--color-cao-bg);
  color: var(--color-cao-dark);
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

.secondary-button {
  background-color: var(--color-button-muted);
  color: var(--color-cao-dark);
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
  width: 100%; /* Ocupa a largura do container para facilitar a centralização */
  max-width: 320px;
}

.secondary-button:hover {
  background-color: #d4d4d4;
  transform: translateY(-1px);
}

.option-selected {
  background-color: #1a1a1a !important;
  color: white !important;
}

.control-circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-button-muted);
  color: var(--color-cao-dark);
  transition: all 0.2s ease;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.control-circle:hover {
  background-color: #d4d4d4;
  transform: scale(1.1);
}